<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/normalize/6.0.0/normalize.min.css" rel="stylesheet">
    <title>阅读海洋</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=6bc510c8eb6bfe8563d381277f059317"></script> -->
  </body>
</html>
